.app-portal-list {
    .images {
        width: 75%;
        box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b;
        margin: 2rem 0;
    }

    .app-list {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: left;
    }

    .mission-content {
        color: #0000ff;
        font-weight: 100 !important;
        text-align: left;
    }

    .align-text {
        margin-bottom: 10px;
    }

    .mission-name {
        color: #0000ff;
    }

    @media only screen and (min-width: 768px) and (max-width: 1281px) {

        /* for 10 inches tablet screens */
        .images {
            width: 130%;
        }
    }

    /*
    * Landscape
    */
    @media(min-width:1024px) and (max-width: 1366px){
        .images{
            width: 100%;
        }
    }
       
}