<div class="app-portal-list">
  <div [hidden]="data.length > 0"><p>No Record Found</p></div>
  <p-dataView [value]="data" [paginator]="false" [hidden]="data.length == 0">
    <ng-template let-data pTemplate="listItem">
      <div class="p-col-12 p-md-3 px-5">
        <div>
          <img
            class="images"
            src="{{ data?.links?.mission_patch }}"
            alt="Image not found"
          />
        </div>
        <div class="app-list">
          <div class="align-text mission-name">
            {{ data.mission_name }}#{{ data.flight_number }}
          </div>
          <div>
            Missions Ids:<span class="mission-content">{{
              data.mission_id
            }}</span>
          </div>
          <div>
            Launch Year:<span class="mission-content">{{
              data.launch_year
            }}</span>
          </div>
          <div>
            Successful Launch:<span class="mission-content">{{
              data.launch_success
            }}</span>
          </div>
          <div>
            Successful Landing:<span class="mission-content">{{
              data.rocket.first_stage.cores[0].land_success
            }}</span>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
