<div class="app-portal-list">
  <div [hidden]="data.length > 0"><p>No Record Found</p></div>
  <p-dataView [value]="data" [paginator]="false" [hidden]="data.length == 0">
    <ng-template let-data pTemplate="listItem">
      <div class="p-col-12 p-md-6 p-lg-3 px-5 shadow-sm bg-light rounded mb-3 text-center">
        <div>
          <img
            class="images"
            src="{{ data?.links?.mission_patch }}"
            alt="rocket image"
            [attr.aria-label]="'Mission Image: '+data?.mission_name"
          />
        </div>
        <div class="app-list justify-content-center px-4">
          <div class="align-text mission-name" [attr.aria-label]="'Mission Name: '+data?.mission_name">
            {{ data.mission_name }}#{{ data.flight_number }}
          </div>
          <div [attr.aria-label]="'Mission Id: '+data?.mission_id">
            Missions Ids: <span class="mission-content">{{
              data.mission_id
            }}</span>
          </div>
          <div [attr.aria-label]="'Launch Year: '+data?.launch_year">
            Launch Year: <span class="mission-content">{{
              data.launch_year
            }}</span>
          </div>
          <div [attr.aria-label]="'Launch Status:'+data?.launch_success">
            Successful Launch: <span class="mission-content">{{
              data.launch_success
            }}</span>
          </div>
          <div [attr.aria-label]="'Landing Status:'+ data?.rocket?.first_stage?.cores[0]?.land_success">
            Successful Landing: <span class="mission-content">{{
              data.rocket.first_stage.cores[0].land_success
            }}</span>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
