<div class="app-portal" fxLayout="column" fxFlexFill>
  <p-panel header="Space X Launch Programs">
    <div class="p-grid">
      <div class="app-min-height p-col-12 p-md-5 p-lg-2 px-5 p-shadow-6">
        <app-portal-filters
          (statusForlanuch)="setvalueForLanuch($event)"
          (statusForlanding)="setvalueForLanding($event)"
          (buttonClicked)="parentEventHandlerFunction($event)"
          (reset)="resetValuesForQuery()"
        ></app-portal-filters>
      </div>
      <div class="app-min-height p-col-12 p-md-7 p-lg-10 p-shadow-4">
        <div class="spinner" *ngIf="isLoading"></div>
        <app-portal-list [data]="data" [queryFilter]="query" *ngIf="!isLoading"></app-portal-list>
      </div>
    </div>
  </p-panel>
  <router-outlet></router-outlet>
</div>
