<div class="app-portal" fxLayout="column" fxFlexFill>
  <p-panel header="Space X Launch Programs">
    <div class="spinner" *ngIf="isloading"></div>
    <div class="p-grid" *ngIf="!isloading">
      <div class="app-min-height p-col-12 p-md-6 p-lg-2 p-shadow-6">
        <app-portal-filters
          (statusForlanuch)="setvalueForLanuch($event)"
          (statusForlanding)="setvalueForLanding($event)"
          (buttonClicked)="parentEventHandlerFunction($event)"
          (reset)="resetValuesForQuery()"
        ></app-portal-filters>
      </div>
      <div class="app-min-height p-col-12 p-md-6 p-lg-10 p-shadow-4">
        <app-portal-list [data]="data" [queryFilter]="query"></app-portal-list>
      </div>
    </div>
  </p-panel>

  <router-outlet></router-outlet>
</div>
