<div class="container">
  <label><strong>Filters</strong></label>
  <div class="text-center">
    <label>Launch Year</label>
    <hr>
    <div class="row">
      <div class="col-lg-6 col-xs-3" *ngFor="let item of years; let index">
        <button
          class="btn my-2 btn-primary form-control btn-block"
          (click)="filterWithYear(index)"
        >
          {{ index }}
        </button>
      </div>
    </div>
  </div>

  <div class="text-center">
    <label> Succesful lanuch</label>
    <hr>
    <div class="row">
      <div class="col-sm">
        <button
          class="btn btn-primary form-control btn-block"
          (click)="filterForStatus('true')"
        >
          True
        </button>
      </div>
      <div class="col-sm">
        <button
          class="btn btn-primary form-control btn-block"
          (click)="filterForStatus('false')"
        >
          False
        </button>
      </div>
    </div>
  </div>

  <div class="text-center">
    <label> Succesful landing</label>
    <hr>
    <div class="row">
      <div class="col-sm">
        <button
          class="btn btn-primary form-control btn-block"
          (click)="filterLandingStatus('true')"
        >
          True
        </button>
      </div>
      <div class="col-sm">
        <button
          class="btn btn-primary form-control btn-block"
          (click)="filterLandingStatus('false')"
        >
          False
        </button>
      </div>
    </div>
  </div>
</div>
